/* make the background color all one color  */
html{
    background-color: rgb(49, 58, 47);
}

/* used universal selector to apply font  */
* {
    font-family: 'Open Sans', sans-serif;
}

/* used element selector to apply style to header  */
header {
    background-color: #acd1af;
    color:#2b4f1c;
    text-align: center;

    /* applying border to the header */
    border-width: 2px;
    border-color: green;
    border-style: solid;
    border-radius: 10px;

    /* using absolute unit pc */
    padding-top: 1pc;
    padding-bottom: 1pc;
    margin:auto;
    position: relative;
    
}


/* using descendant combinator */
section h4 {
    /* styling my text for all h4 headers that are in sections*/
    color:green;
    text-decoration: underline;
    text-align: left;
    
}


/* using child combinator */
div > h4{
    color:green;
    text-decoration: underline;
    text-align: left;

}

/* using adjacent combinator */
h4 + p {
    /* using absolute unit pt */
    font-size: 11pt;
    color: navy;
}

/* using general combinator */
h4 ~ ol{
    color: sienna;
}

div.business{
    display: inline-block;

    /* using absolute unit px */
    padding: 10px 20px 10px 20px;
    border: 2px groove green;
    background-color: hsla(102, 48%, 82%, 1);
    border-radius: 10px;
    margin: 1px 10px 0px 10px;
    width: 400px;
}


section{
    

    border: groove green;
    border-width: 2px;
    background-color: hsla(102, 48%, 82%, 1);
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    
}

ul{
    /* using relative unit % */
    font-size: 80%;
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
}


/* used id selector to apply style to the attendance id */
#attendance{


    display: inline-block;
    width: 400px;
    margin: 1px 10px 0px 10px;
    padding: 10px 20px 10px 20px;
    grid-column: 2;
    
}

/* used id selector to apply style to the agenda id */
#agenda{
    display: inline-block;
    width: 400px;
    grid-row: 1;
    grid-column: 3;
    margin: 1px 10px 0px 10px;
    padding: 10px 20px 10px 20px;
}

#logistics{
    display: inline-block;
    width: 400px;
    grid-row: 1;
    grid-column: 1;
    margin: 1px 10px 0px 10px;
    padding: 10px 20px 10px 20px;
}
/* used id selector to apply style to the container id */
#container{
    display: flex;
    align-content: center;
    justify-content: center;
    
}

#container div{
    align-items: center;
}
/* used id selector to apply style to the media id */
#media{
    display: inline-block;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;

}

#media > h4{
    /* using relative unit em*/
    font-size: 1.1em;
}


form{

    border: groove green;
    border-width: 2px;
    background-color: hsla(102, 48%, 82%, 1);
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 20px 0px 20px;
    display: inline-block;
    width: 400px;



}



@media screen and (max-width: 600px) {
    #wrapper{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    #container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    #logistics, .business{
        grid-row: 1;
        grid-column: 1;

    }
     #attendance, #media{
        grid-row: 2;
        grid-column: 1;
 
    }
    #agenda, form{
        grid-row: 3;
        grid-column: 1;

    }

  }




details{
    
    padding-left: 2pc;
    padding-bottom: 1pc;
    padding-top: 5px;
    border: groove green;
    border-width: 2px;
    border-radius: 10px;
    background-color: hsla(102, 48%, 82%, 1);

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: static;
    /* use of block display */
    display: block;
}


/* using psuedo classes*/
button:hover{
    color: red;
}

/*links turn pink when clicked*/
a:active {
    color: pink;
}

/*details turn pink when clicked*/
details:active{
    color: plum;
}

/*using attribute selector*/
a[target=_caps] {
    background-color: yellow;
    /* using relative unit ch */
    font-size: 2ch;
}

/* using selector list*/
strong,b,i,em {
    color: rgba(187, 6, 6, 0.959);
}


main {
    
    border: 10px forestgreen;
}